.card {
    width: 200px;
    height: 350px;
    display: inline-block;
    border: 2px solid black;
    box-shadow: 2px 2px 4px black;
    transition: 1s;
    border-radius: 15px;
}
img {
    width: 200px;
    height: 260px;
    border-radius: 14px 14px 0 0;
}

.card:hover {
    box-shadow: 8px 8px 16px black;
}
.desc {
    margin:0 2px ;
}